<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="zookeeper" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.zookeeper" level="WARN" additivity="false">
            <AppenderRef ref="zookeeper" />
        </Logger>

        <Root level="WARN">
            <AppenderRef ref="zookeeper" />
        </Root>
    </Loggers>
</Configuration>
